<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kanban Vue</title>
    <link rel="stylesheet" href="styles/main.css">
    <script src="scripts/vue.min.js"></script>
  </head>
  <body>
    <div id="kanban" class="container">
      <div class="form">
        <label class="icon" v-on:click="inputEnable = !inputEnable" v-if="!inputEnable">+</label>
        <label class="icon" v-on:click="inputEnable = !inputEnable" v-if="inputEnable">-</label>
        <transition name="fade">
          <input type="text" v-model="newTask" v-on:keyup.enter="addTask" v-if="inputEnable">
        </transition>
      </div>
      <div class="grid">
        <div id="todo">
          <div class="header">
            <span>TODO</span>
            <span class="badge" v-if="taskInStatus('todo').length > 0">
              {{ taskInStatus('todo').length }}
            </span>
          </div>
          <ul>
            <li v-for="task in taskInStatus('todo')">
              {{ task.title }}
              <span class="icon" v-on:click="moveTaskTo(task.id, 'doing')">&raquo;</span>
              <span class="icon" v-on:click="removeTask(task.id)">&times;</span>
            </li>
          </ul>
        </div>
        <div id="doing">
          <div class="header">
            <span>DOING</span>
            <span class="badge" v-if="taskInStatus('doing').length > 0">
              {{ taskInStatus('doing').length }}
            </span>
          </div>
          <ul>
            <li v-for="task in taskInStatus('doing')">
              <span class="icon" v-on:click="moveTaskTo(task.id, 'todo')">&laquo;</span>
              {{ task.title }}
              <span class="icon" v-on:click="moveTaskTo(task.id, 'done')">&raquo;</span>
              <span class="icon" v-on:click="removeTask(task.id)">&times;</span>
            </li>
          </ul>
        </div>
        <div id="done">
          <div class="header">
            <span>DONE</span>
            <span class="badge" v-if="taskInStatus('done').length > 0">
              {{ taskInStatus('done').length }}
            </span>
          </div>
          <ul>
            <li v-for="task in taskInStatus('done')">
              <span class="icon" v-on:click="moveTaskTo(task.id, 'doing')">&laquo;</span>
              {{ task.title }}
              <span class="icon" v-on:click="removeTask(task.id)">&times;</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="scripts/main.js"></script>
  </body>
</html>
